	<div class="container grid-wrapper section" ng-controller="registerCtrl">
		<div class="row">
			<div class="col-12 col-lg-12 element-content">				
				<div class="display-single_element">
						<p class="p_resp">教えて！競馬民の初期設定を行います。</p>
						<p class="p_resp" style="margin-bottom: 30px;">表示されるユーザ名とご自身のフォルダ名<span style="color:red;">*</span>を設定してください。</p>						
					<form  name="form" novalidate="novalidate">
						<div class="form-group">
							<label for="">ユーザ名 (後に変更可)</label>
							<input type="text" name="display_name" class="form-control" ng-model="user.display_name" required>
						</div>
						<div class="form-group">
							<label for="">ご自身のフォルダ名(後に変更不可・半角英数_-のみ)</label>
							<p ng-show="form.directory_name.$error.pattern" style="color:red; margin-bottom: 0.5rem;">ディレクトリ名は半角数値_-のみです。</p>
							<input type="text" ng-pattern="/^[a-zA-Z0-9_-]+$/" name="directory" class="form-control" ng-model="user.directory" required>
							<p class="p_resp" style="color:red !important; font-size:12px !important; margin-bottom: 30px;">* ご自身のトップページのURLが<br>https://oshiete-keibamin.com/keibamin/[ご自身のフォルダ名]/となります。</p>
						</div>
						<p ng-show="registerError" style="text-align: center; color:red; margin-bottom: 1.5rem;">{{registerError}}</p>
						<button type="submit" ng-click="register()" ng-disabled='form.$invalid' class="btn btn-default btn-primary btn-block">設定</button>
					</form>
				</div>
				<!-- register form end -->
			</div> <!-- element-content ends -->
		</div>
	</div> <!-- element main container ends -->