<!-- MAIN CONTENT SECTION -->
  <div class="container blogPage singleBlog" ng-controller="contentsCtrl" ng-init="init()">
    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail">
          <div class="caption">
            <div class="row">
              <div class="col-md-12">
                <h3>{{contents.title}}</h3>
                <div class="c_articleInfo">
                  <div class="aI_avatar">
                      <div class="c_avatarIcon">
                          <div class="a-avatar" ui-sref="app.keibamin.index({directory: contents.directory})">
                              <img class="a-avatar-timeline" ng-src="{{contents.avatar}}">
                          </div>
                      </div>
                      <div class="aI_avatarName">
                        <p class="aI_displayName" ui-sref="app.keibamin.index({directory: contents.directory})" style="margin-bottom:15px !important;">{{contents.display_name}}
                          <span ng-if="contents.verified">
                            &nbsp;<i class="icons8-verified-account-filled" style="color:#1da1f2;"></i>
                          </span>
                        </p>
                        <p class="aI_displayName"><span>公開日時:&nbsp;{{contents.created_at | amDateFormat:'YY.MM.DD HH:mm'}}&#040;</span>
                          <span am-time-ago="contents.created_at"></span><span>&#041;</span>
                        </p>
                        <p class="aI_displayName" ng-if="contents.updated_at"><span>最終更新:&nbsp;{{contents.updated_at | amDateFormat:'YY.MM.DD HH:mm'}}&#040;</span>
                            <span am-time-ago="contents.updated_at"></span><span>&#041;</span>
                        </p>
                      </div>
                      <div class="aI_price" ng-if="me"><span class="badge badge-secondary cur" ui-sref="app.keibamin.edit({directory:directory, contentsid:contentsid, status: 'published'})">編集する</span></div>                      
                      <div class="aI_price" ng-if="contents.price && !contents.is_purchased && !me"><span class="badge badge-primary">￥{{contents.price}}</span></div>
                      <div class="aI_price" ng-if="!contents.price && !me"><span class="badge badge-danger">無料</span></div>
                      <div class="aI_price" ng-if="contents.is_purchased && !me"><span class="badge badge-dark">購入済</span></div>                     
                  </div>
                </div>
                <ul style="margin-bottom:30px;">
                  <li class="ng-scope" style="display: inline;">
                      <span class="badge badge-primary ng-binding cur" style="margin:5px;">
                        <a ng-href="{{contents.twitterShare}}" style="color: rgb(255, 255, 255) !important;">
                          <i class="fa fa-twitter"></i>&nbsp;シェアする
                          <script async="" src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
                        </a>
                      </span>
                      <span class="badge badge-line ng-binding cur" style="margin:5px;">
                        <a ng-href="{{contents.lineShare}}" style="color: rgb(255, 255, 255) !important;">
                          <i class="icons8-line-filled"></i>&nbsp;友だちに送る
                        </a>
                      </span>
                  </li>
                </ul>
                <ul style="margin-bottom:30px;" ng-if="contents.tags">
                    <li ng-repeat="tag in contents.tags" class="ng-scope" style="display: inline; cursor: pointer;">
                        <span class="badge badge-success ng-binding" style="margin:5px;" ui-sref="app.tag({tagname: tag.name})">{{tag.name}}</span>
                    </li>
                </ul>
                <div ng-bind-html="contents.contents" class="spilled" style="padding-bottom: 30px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 payAreaBig" ng-if="contents.price && !contents.is_purchased && !me">
          <h3 class="payAreaText">この続きをみるには</h3>
          <p class="p-paywall__count">
            <span class="p-paywall__countWarning"><i class="fa fa-warning"></i></span>
            <span class="p-paywall__countText">この続き:</span>
            <span class="p-paywall__countText">{{contents.remainCount}}文字</span>
            <span class="p-paywall__countText">&nbsp;/&nbsp;画像{{contents.remainImg}}枚</span>
          </p>
          <section class="payAreaSmall">
              <div>
                <div>
                  <h4 class="payAreaTitle">{{contents.title}}</h4>
                  <div class="payAreaAuthor">
                    <img class="p-avatar" ng-src="{{contents.avatar}}">
                    {{contents.display_name}}
                    <span class="badge badge-primary" style="margin-left:20px; font-size:16px;">￥{{contents.price}}</span>
                  </div>
                </div>
                <div>
                  <button type="button" data-toggle="modal" href='#purchase' class="btn btn-default btn-primary btn-block">コンテンツを購入する</button>
                </div>
              </div>
          </section>
        </div>
        <div class="col-md-12">
          <div class="footerInfo">
              <div class="f_avatar">
                  <div class="aI_avatarIcon">
                      <div class="a-avatar" ui-sref="app.keibamin.index({directory: directory})">
                          <img class="f-avatar-circle" ng-src="{{contents.avatar}}">
                      </div>
                  </div>
                  <div class="f_avatarName" ui-sref="app.keibamin.index({directory: directory})">
                    <span>{{contents.display_name}}</span>
                    <span ng-if="contents.verified">
                        <i class="icons8-verified-account-filled" style="color:#1da1f2;"></i>
                    </span>                  
                  </div>
                  <div class="f_avatarText"><span>{{contents.bio}}</span></div>
              </div>
            </div>        
        </div>
      </div>
    </div>
    <div class="modal fade purchase-modal" id="purchase" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="height: 450px;">
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title" style="color:#ffffff;">コンテンツを購入する</h4>
                    <button type="button" style="color:#ffffff;" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                        <div>
                          <h4 class="payAreaTitle">{{contents.title}}</h4>                          
                        </div>
                        <div style="margin-top:30px;">
                          <p class="purchasePriceP"><span class="purchasePriceSpan">￥{{contents.price}}</span></p>
                          <p style="text-align: center;" ng-if="isLogged && card">
                            <img class="card-brand" ng-src="{{card.brand}}">                            
                            <span class="purchaseCard">****&nbsp;****&nbsp;****&nbsp;{{card.last4}}&nbsp;&nbsp;&nbsp;&nbsp;{{card.exp_month}}/{{card.exp_year}}</span>
                          </p>
                        </div>
                        <p class="purchaseError" ng-if="purchaseError">{{purchaseError}}</p>
                        <p class="purchaseError" ng-if="!isLogged">購入にはログインが必要です。</p>
                        <p class="purchaseError" ng-if="isLogged && !card">購入には<span ng-click="goSettings()" class="cur" style="text-decoration:underline">クレジットカードの設定</span>が必要です。</p>
                        <p class="purchaseSuccess" ng-if="contents.is_purchased">購入が完了しました。</p>
                        <p class="purchaseError">scroll test1</p>
                        <p class="purchaseError">scroll test1</p>
                        <p class="purchaseError">scroll test1</p>
                        <p class="purchaseError">scroll test1</p>
                        <p class="purchaseError">scroll test1</p>
                        <p class="purchaseError">scroll test1</p>
                        <p class="purchaseError">scroll test1</p>
                        <p class="purchaseError">scroll test1</p>
                        <p class="purchaseError">scroll test1</p>
                        <p class="purchaseError">scroll test1</p>
                        <p class="purchaseError">scroll test1</p>
                        <p class="purchaseError">scroll test1</p>                         
                        <button type="button" ng-click="purchase()" ng-disabled='form.$invalid || !isLogged || !card || clicking' class="btn btn-primary btn-block" class="purchaseButton">購入</button>
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-secondary btn-block" class="purchaseButton">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
  </div>
