<div class="container blogPage" ng-controller="editProfileCtrl" ng-init="init()">
  <div class="row">
    <div class="col-md-12 keibaminArea">
      <div class="keibamin_container">
        <form name="form" novalidate="novalidate">
        <div class="keibamin_profile">
          <div class="keibamin_avatar">
            <label class="k-avatar-edit">
              <i class="fa fa-camera editPics"></i>
              <input 
              type="file" 
              ngf-select 
              ng-model="up.file" 
              name="file"
              ngf-pattern="'image/*'"
              accept="image/*"
              ngf-resize="{width: 312, height: 312}" 
              ngf-max-size="20MB" 
              style="display:none;"
              />
            </label>
            <img class="k-avatar_img" ng-src="{{user.avatar}}" ng-if="!up.file">
            <img class="k-avatar_img" ngf-thumbnail="up.file"/>

          </div>
        </div>
        <div class="keibamin_bio">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" ng-model="user.display_name" placeholder="ユーザ名*" required>
                </div>
                <div class="form-group">
                    <input type="text" name="twitter" class="form-control" ng-pattern="/^[a-zA-Z0-9_]+$/" ng-model="user.twitter" placeholder="ツイッターユーザ名">
                </div>
                <div class="form-group">
                    <textarea type="text" name="bio" class="form-control" rows="5" placeholder="自己紹介文(140文字以内)" ng-model="user.bio" ng-maxlength="140"></textarea>
                </div>
                <p ng-show="loginError" style="text-align: center; color:red;">{{loginError}}</p>
                <p ng-show="form.twitter.$error.pattern" style="color:red;">ツイッターアカウント名にアンダーバー以外の記号は使えません。</p>
                <p ng-show="form.bio.$error.maxlength" style="color:red;">自己紹介文は140字以内にしてください。</p>            
        </div>
        <div class="profileSetting">
            <button type="button" ui-sref="app.keibamin.index({directory: directory})" class="btn btn-secondary btn-mid" style="margin-right:5px;">キャンセル</button>
            <button type="button" ng-click="edit()" ng-disabled='form.$invalid' class="btn btn-primary btn-mid">保存</button>
        </div>
      </form>
      </div>

    </div>
  </div>
</div>			